/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #201f1c;
}

.navbar-brand {
    font-size: 1.5rem;
}
.nav-link {
    font-size: 1rem; /* Increase font size */
    font-weight: 600; /* Make the text bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle background on hover */
    color: #f8f9fa; /* Lighten the text color on hover */
}

.custom_btn {
    border-radius: 20px; /* Make the logout button rounded */
}

.custom_btn:hover {
    background-color: #dc3545; /* Darken the logout button on hover */
    color: #fff; /* Ensure text is white */
}


.hero {
    background: url('./images/bg_image/HomePage_Banner.webp') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
}

.nav-link  :hover {
color: #665413;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.25rem;
}
#main-content {
    width: 100% auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.655);

}

.features{
    background-color: #231d11c3;
}

.custom_btn {
    background-color:#665413;
    color: white;
    font-size: 1.1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #99971f67;
    padding:5px;
    border-radius:4px ;

}


.custom_btn:hover {
    background-color:#15140d;
    color:#e3bd15;
    border: 1px solid #907c33;
    box-shadow: 0px 0px 10px 0px #a08923;
    font-size: 1.1rem;


}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #665413;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(12, 11, 11, 0.571);
    z-index: 9998;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
}

.bg-golden {
    background-color:#665413;

}


.search-results {
    margin-top: 30px;
}


/* FAQ Section */
.faq_section {
    background-color: #15140d92;
}
.faq .card-header {
    cursor: pointer;
}

.faq .card-body {
    background-color: #f8f9fa;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #f8f9fa;
}
