body {
    font-family: Arial, sans-serif;
    background-color: #201f1c;
}

.lawyer {
    background: url('../images/pexels-photo-3760514.webp') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
}
.main {
    width: 100% auto;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.655);
}
.nav-link {
    font-size: 1rem; /* Increase font size */
    font-weight: 600; /* Make the text bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle background on hover */
    color: #f8f9fa; /* Lighten the text color on hover */
}

.custom_btn {
    border-radius: 20px; /* Make the logout button rounded */
}

.custom_btn:hover {
    background-color: #dc3545; /* Darken the logout button on hover */
    color: #fff; /* Ensure text is white */
}